{% extends 'layout.html' %}
{%block content%}
{% for content in contents %}
<article class="post">
	<div class="post-head text-center">
		<h1>{{content.title}}</h1>
		<div class="post-meta text-center">
			<span>作者：<a>{{content.user.username}}</a></span>-
			<span>时间：<a>{{content.addTime|date('Y/m/d H:i:s',-8*60)}}</a></span>-
			<span>阅读数：<a>{{content.views}}</a></span>-
			<span>评论数：<a>{{content.comments.length}}</a></span>
		</div>
	</div>
	<div class="post-content">
		<p>
			{{content.description}}
		</p>
	</div>
	<div class="post-permalink">
		<a class="btn btn-info" href="/view?contentid={{content._id.toString()}}">阅读全文</a>
	</div>
</article>
{% endfor %}
<ul class="pager" >
	{% if pages<=0 %}
	<li><span>当前分类下没有文章</span></li>
	{% else %}
	<li class="previous">
		{% if page <= 1 %}
		<span>没有上一页了</span>
		{% else %}
		<a href="/?category{{category}}&page={{page-1}}">上一页</a>
		{% endif %}
	</li>

	<li><span><strong>{{page}}/{{pages}}</strong></span></li>

	<li class="next">
		{% if page >= pages %}
		<span>这是最后一页</span>
		{% else %}
		<a href="/?category{{category}}&page={{page+1}}">下一页</a>
		{% endif %}
	</li>
	{% endif %}
</ul>
{%endblock%}